@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	box-sizing: border-box;
	
	::selection {
	  background-color: transparent
	}
}

body {
	cursor: default !important;
	font-family: "Clash Display", sans-serif;
}

@font-face {
	font-family: "Clash Display";
	src: url("../src/assets/font/ClashDisplay-Extralight.otf");
	font-weight: 200;
  }
  
  @font-face {
	font-family: "Clash Display";
	src: url("../src/assets/font/ClashDisplay-Light.otf");
	font-weight: 300;
  }
  
  @font-face {
	font-family: "Clash Display";
	src: url("../src/assets/font/ClashDisplay-Regular.otf");
	font-weight: 400;
  }
  
  @font-face {
	font-family: "Clash Display";
	src: url("../src/assets/font/ClashDisplay-Medium.otf");
	font-weight: 500;
  }
  
  @font-face {
	font-family: "Clash Display";
	src: url("../src/assets/font/ClashDisplay-Semibold.otf");
	font-weight: 600;
  }
  
  @font-face {
	font-family: "Clash Display";
	src: url("../src/assets/font/ClashDisplay-Bold.otf");
	font-weight: 700;
  }

.whiteshadow:hover {
	transition: transform .1s, box-shadow .1s, color .1s, background-color .1s;
	box-shadow: 3px 3px #fff;
}

a:hover {
	transition: transform .2s, color .2s, background-color .2s;
	color: #fff;
}

.whiteshadow:active {
	transform: translate(3px, 3px);
}

.p-footer {
	margin:16px 0 0;
	font-weight:400;
	font-size:20px;
	line-height:28px;
	color:#d4d4d4;
	letter-spacing:1px
}

.cipherfiles {
	font-weight: 700;
	font-size: 72px;
	line-height: 100%;
	color: transparent;
	-webkit-text-stroke: #fff;
	-webkit-text-stroke-width: 1px;
}

ul li a:before {
    content: '';
    display: inline-block;
    padding: 1px;
    background-color: #737373;
    border-radius: 100%;
    margin-right: 10px;
    margin-bottom: 2px;
}