@tailwind base;
@tailwind components;
@tailwind utilities;

.styles_button__Mz1TS {
  display:inline-flex;
  align-items:center;
  gap:.6875rem;
  color:#fff;
  font-family:var(--font-secondary);
  font-size:.8125rem;
  font-weight:300;
  line-height:1.05625rem;
  opacity:.4
}
.styles_button__Mz1TS svg {
  display:block;
  transition:inherit
}
.styles_button__Mz1TS:hover {
  opacity:.8
}
.styles_button__Mz1TS:hover svg {
  transform:translateX(-.15rem)
}
.styles_main__HNwBC {
  width:100%;
  max-width:43.5rem;
  margin:0 auto;
  padding:7.3125rem 1rem 2rem;
  --selection-bg:#363636;
  --selection-color:#fff
}
.styles_main__HNwBC article {
  max-width:70ch
}
@media screen and (max-width:640px) {
  .styles_main__HNwBC {
    padding:1.5rem
  }
  .styles_main__HNwBC section h1 {
    padding-top:4rem
  }
}
.styles_main__HNwBC h1 {
  font-size:2.5rem;
  line-height:3rem;
  font-weight:500
}
@media screen and (max-width:768px) {
  .styles_main__HNwBC h1 {
    font-size:2rem;
    line-height:2.2rem
  }
}
@keyframes styles_fadeIn__bWdR6 {
  0% {
    opacity:0
  }
  to {
    opacity:1
  }
}
.styles_container__1t_Oy {
  padding:1rem 0 5rem
}
.styles_container__1t_Oy footer {
  animation:styles_fadeIn__bWdR6 .8s var(--ease-snappy) both
}
.styles_container__1t_Oy footer p {
  color:hsla(0,0%,100%,.3);
  font-size:.8125rem;
  font-weight:300;
  line-height:1.05625rem
}
.styles_links__PIaVg {
  list-style:none;
  display:flex;
  align-items:center;
  justify-content:flex-start;
  gap:.75rem
}
.styles_links__PIaVg li a {
  display:inline-block;
  vertical-align:middle;
  color:#3c3c3c;
  font-size:.8125rem;
  font-weight:400
}
.styles_links__PIaVg li a:focus,
.styles_links__PIaVg li a:hover {
  color:#999
}
.styles_list__7S06q {
  display:block;
  list-style:none
}
.styles_list__7S06q>li {
  display:block;
  padding:.75rem 0 1.5rem
}
.styles_list__7S06q>li:last-child {
  padding-bottom:0
}
.styles_list__7S06q>li h2 {
  color:hsla(0,0%,100%,.4);
  font-size:.8752rem;
  font-weight:400;
  line-height:1rem;
  letter-spacing:-.09px
}
.styles_list__7S06q>li>ul {
  display:block;
  list-style:none;
  padding:.3125rem 0 0
}
.styles_list__7S06q>li>ul>li a {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:1rem 0;
  border-bottom:1px solid hsla(0,0%,100%,.1)
}
.styles_list__7S06q>li>ul>li a:hover {
  color:#fff
}
.styles_list__7S06q>li>ul>li a:hover span {
  opacity:1
}
.styles_list__7S06q>li>ul>li:last-child a {
  border-bottom:none
}
.styles_list__7S06q>li>ul>li h3 {
  font-size:1rem;
  font-weight:400;
  line-height:1.4rem;
  letter-spacing:-.18px
}
@media screen and (max-width:540px) {
  .styles_list__7S06q>li>ul>li {
    flex-direction:column;
    align-items:flex-start
  }
}
.styles_readMore__bUnab {
  display:flex;
  align-items:center;
  gap:.5rem;
  position:relative;
  margin-top:.4375rem;
  opacity:.4;
  text-align:right;
  white-space:nowrap;
  font-size:.875rem;
  font-weight:400;
  line-height:1rem;
  letter-spacing:-.09px;
  transition:opacity .1s ease
}
.styles_readMore__bUnab svg {
  display:block
}
.styles_readMore__bUnab:hover {
  color:#fff
}
@keyframes styles_spin__rFxEC {
  0% {
    transform:rotate(0)
  }
  to {
    transform:rotate(1turn)
  }
}
.styles_spinner__OLBKy {
  display:flex;
  align-items:center;
  justify-content:center
}
.styles_spinner__OLBKy svg {
  display:block;
  width:100%;
  height:auto;
  animation:styles_spin__rFxEC 1s linear infinite;
  transform-origin:50%
}
.styles_spinner__OLBKy svg path {
  animation:styles_spin__rFxEC 1s ease-in-out infinite;
  transform-origin:50%
}
.styles_container__At_jz {
  --border:hsla(0,0%,100%,.25);
  position:relative;
  display:inline-block;
  padding:.71875rem 1.0625rem;
  font-size:.875rem;
  font-weight:400;
  line-height:1;
  letter-spacing:-.09px;
  white-space:nowrap;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  color:#fff;
  background:none
}
.styles_container__At_jz+.styles_container__At_jz {
  margin-left:1.5rem
}
.styles_container__At_jz .styles_background__z8Xs9 {
  z-index:1;
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  border-radius:.5rem;
  background:rgba(26,26,26,.98);
  box-shadow:inset 0 0 0 1px hsla(0,0%,100%,.03),0 6px 14px 0 rgba(0,0,0,.07);
  transition:width .2s ease,background-color .1s ease,box-shadow .1s ease
}
.styles_container__At_jz .styles_children__Z1U5q {
  position:relative;
  z-index:2;
  display:flex;
  gap:.5rem;
  align-items:center;
  justify-content:center;
  transition:inherit;
  transition-property:transform
}
.styles_container__At_jz:disabled {
  cursor:not-allowed;
  opacity:.4
}
.styles_container__At_jz:not(:disabled) {
  cursor:pointer;
  transition:.1s ease;
  transition-property:width,background-color,box-shadow
}
.styles_container__At_jz:not(:disabled):focus-visible .styles_background__z8Xs9,
.styles_container__At_jz:not(:disabled):hover .styles_background__z8Xs9 {
  box-shadow:inset 0 0 0 1px hsla(0,0%,100%,.05),0 6px 14px 0 rgba(0,0,0,.07);
  background:hsla(0,0%,100%,.1)
}
.styles_container__At_jz[data-variant=secondary] {
  color:#fff;
  background:#000
}
.styles_container__At_jz[data-variant=secondary] .styles_background__z8Xs9 {
  box-shadow:inset 0 0 0 1px #282828,0 2px 26px 0 rgba(0,0,0,.01),0 2px 8px 0 rgba(0,0,0,.01),0 1px 2px 0 rgba(0,0,0,.02)
}
.styles_container__At_jz[data-variant=secondary]:hover .styles_background__z8Xs9 {
  background-color:#000
}
.styles_container__At_jz[data-variant=tertiary] {
  color:#fff;
  padding:.25rem 0;
  color:var(--hyperlink);
  border-radius:0
}
.styles_container__At_jz[data-variant=tertiary] .styles_background__z8Xs9 {
  background:none;
  box-shadow:none
}
.styles_container__At_jz[data-variant=tertiary]:after {
  transition:inherit;
  pointer-events:none;
  content:"";
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  height:1px;
  border-radius:2px;
  background:currentcolor;
  opacity:.2
}
.styles_container__At_jz[data-variant=tertiary]:hover {
  transition-duration:.2s
}
.styles_container__At_jz[data-variant=tertiary]:hover .styles_background__z8Xs9 {
  background:none;
  box-shadow:none
}
.styles_container__At_jz[data-variant=tertiary]:hover:after {
  opacity:.3
}
.styles_container__At_jz[data-variant=tertiary]:focus-visible {
  transition:none
}
.styles_container__At_jz[data-variant=tertiary]:focus-visible .styles_background__z8Xs9 {
  background:none;
  box-shadow:none
}
.styles_container__At_jz[data-variant=tertiary]:focus-visible:after {
  opacity:.3
}
.styles_container__At_jz[data-variant=danger] {
  color:#fff
}
.styles_container__At_jz[data-variant=danger] .styles_background__z8Xs9 {
  background:#f43b5c
}
.styles_container__At_jz[data-variant=danger]:hover {
  color:#fff
}
.styles_container__At_jz[data-variant=danger]:hover .styles_background__z8Xs9 {
  background:#ec284c
}
.styles_container__At_jz[data-size=sm] {
  border-radius:.75rem;
  padding:.75rem 1.125rem;
  font-size:.9375rem
}
.styles_container__At_jz[data-size=sm][data-variant=tertiary] {
  padding:.375rem .5rem
}
.styles_container__At_jz[data-size=lg] {
  padding:1rem
}
.styles_container__At_jz[data-size=lg][data-variant=tertiary] {
  padding:.375rem .5rem
}
.styles_container__At_jz[data-wide=true] {
  width:100%;
  justify-content:center
}
.styles_container__At_jz[data-wide=true]+.styles_container__At_jz {
  margin:.75rem 0 0
}
.styles_prefixIcon__G_dnt,
.styles_suffixIcon__Xc9XE {
  display:flex;
  align-items:center;
  justify-content:center;
  line-height:0
}
.styles_icon__Xhn93 circle,
.styles_icon__Xhn93 path,
.styles_icon__Xhn93 rect {
  vector-effect:non-scaling-stroke
}
@keyframes styles_fadeIn__IwIOH {
  0% {
    opacity:0
  }
  to {
    opacity:1
  }
}
.styles_interview__mQG9_ {
  position:relative;
  padding:1.25rem 0 0
}
.styles_interview__mQG9_ .styles_step__4Kvjl {
  gap:.5rem;
  counter-increment:step
}
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepDescription__hZOUZ,
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepTitle__ZgLM3:after {
  opacity:0
}
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepLine__DJI6a {
  position:absolute;
  inset:0;
  pointer-events:none;
  border-right:1px solid #fff;
  background:linear-gradient(270deg,hsla(0,0%,100%,.1) 1.18%,hsla(0,0%,100%,0) 93.26%)
}
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepTitle__ZgLM3 {
  transition:all .1s ease;
  position:relative;
  width:13.5rem;
  padding:.375rem 0;
  cursor:pointer;
  -webkit-user-select:none;
  -moz-user-select:none;
  user-select:none;
  border-right:1px solid hsla(0,0%,100%,.1)
}
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepTitle__ZgLM3::-webkit-details-marker,
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepTitle__ZgLM3::marker {
  display:none;
  content:""
}
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepTitle__ZgLM3 h3 {
  transition:all .5s ease;
  display:flex;
  gap:.5rem;
  opacity:.3;
  font-family:var(--font-primary);
  font-size:1rem;
  font-weight:300;
  letter-spacing:-.18px;
  max-width:16rem
}
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepTitle__ZgLM3 h3:before {
  content:counter(step) "."
}
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepDescription__hZOUZ {
  position:absolute;
  top:1.25rem;
  left:16rem;
  pointer-events:none;
  transition:all .2s ease;
  transform:translateY(.25rem)
}
.styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepDescription__hZOUZ p {
  font-size:1rem;
  font-weight:300;
  letter-spacing:-.18px
}
.styles_interview__mQG9_ .styles_step__4Kvjl[data-open=true] .styles_stepTitle__ZgLM3 {
  pointer-events:none
}
.styles_interview__mQG9_ .styles_step__4Kvjl[data-open=true] .styles_stepTitle__ZgLM3 h3 {
  opacity:1
}
.styles_interview__mQG9_ .styles_step__4Kvjl[data-open=true] .styles_stepDescription__hZOUZ {
  opacity:1;
  transform:none;
  pointer-events:auto
}
@media screen and (max-width:540px) {
  .styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepLine__DJI6a {
    display:none
  }
  .styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepTitle__ZgLM3 {
    width:auto;
    border-right:0!important
  }
  .styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepTitle__ZgLM3 h3 {
    opacity:1;
    max-width:none
  }
  .styles_interview__mQG9_ .styles_step__4Kvjl .styles_stepDescription__hZOUZ {
    opacity:1;
    position:relative;
    top:auto;
    left:auto;
    transform:none;
    padding:0 1.5rem 1rem
  }
}
.styles_section__agM3t {
  display:flex;
  flex-direction:column;
  gap:1.25rem;
  padding:4.25rem 0;
  border-bottom:1px solid hsla(0,0%,100%,.1)
}
.styles_section__agM3t:first-child {
  padding-top:3.875rem;
  gap:2rem
}
.styles_section__agM3t>p {
  padding-bottom:.5rem
}
.styles_footer___pkJr {
  padding:4.25rem 0
}
.styles_footer___pkJr p+p {
  padding-top:.575rem
}
.styles_values__DUqSK {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:0 3rem;
  gap:0 3rem
}
@media(max-width:540px) {
  .styles_values__DUqSK {
    grid-template-columns:1fr
  }
}
.styles_value___3cwK {
  display:flex;
  flex-direction:column;
  gap:.5rem;
  padding:2rem 0 1.5rem
}
.styles_value___3cwK[data-active=true] svg {
  opacity:1
}
.styles_value___3cwK svg {
  transition:opacity .5s ease;
  opacity:.4
}
.styles_value___3cwK h3 {
  font-size:1rem;
  font-weight:500;
  padding-top:.25rem
}
.styles_value___3cwK p {
  font-size:1rem;
  font-weight:300;
  letter-spacing:-.18px
}
.styles_perks__QgGk_ {
  padding:1rem 0 0
}
.styles_perks__QgGk_ ul {
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-gap:.75rem 1.75rem;
  gap:.75rem 1.75rem
}
@media(max-width:540px) {
  .styles_perks__QgGk_ ul {
    grid-template-columns:1fr
  }
}
.styles_perks__QgGk_ ul li {
  display:flex;
  align-items:center;
  gap:1rem;
  padding:0 0 .25rem;
  font-size:1rem;
  font-weight:300;
  letter-spacing:-.18px
}
.styles_perks__QgGk_ ul li svg {
  opacity:.4
}
